<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Show Movies</title>
  </head>
  <body>
    

    <div class="container">
        <h1>Show Movies</h1>
        <p><a class="btn btn-primary" href="/movies/add" role="button">Add Movie</a></p>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Genres</th>
                <th scope="col">Year</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
            <% for (let i  = 0; i < movies.length; i++) { %>
              <tr>
                <th scope="row"><%= movies[i].id %></th>
                <td><%= movies[i].title %></td>
                <td><%= movies[i].genres %></td>
                <td><%= movies[i].year %></td>
                <td><a class="btn btn-success" href="/movies/<%= movies[i].id %>/edit" role="button">Edit</a></td>
                <td><a class="btn btn-danger" href="/movies/<%= movies[i].id %>/delete" role="button">Delete</a></td>
              </tr>
              <% } %>
              
            </tbody>
          </table>
    </div>

  </body>
</html>